<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Black Jack Helper</title>
  </head>

  <body>
    <form class="title" method="POST">
      How many decks?<br />
      <input type="text" name="decks" autocomplete="off" /><br />
      <input type="submit" value="Submit" />
      <input type="submit" value="Reset" />
      <input type="hidden" id="deckCount" name="deckCount" value="" />
      <p class="title-decks">{{decks}} decks on the table</p>
    </form>

    <h1 class="title">Black Jack Helper</h1>
    <div id="table" class="card-table">
      {% for v,s in value|zip(sort) %}
      <div
        id="placeholder"
        class="card-placeholder"
        data-value="{{ v }}"
        data-sort="{{ s }}"
        style="background-image: url('static/img/cards/{{v|lower}}_{{s}}.png')"
      >
        {% for deck in range(decks|int)%}
        <div
          id="cards"
          class="card"
          style="background-image: url('static/img/cards/{{v|lower}}_{{s}}.png')"
        ></div>
        {% endfor %} <span id="stats">{{v + " " + s}}</span>
      </div>
      {% endfor %}
    </div>
    <script>
      var decks = {{ decks }};
    </script>
    <script src="static/main.js"></script>
  </body>
</html>
